@import "~bulma/sass/utilities/_all";

$orange: #f6511d;
$green: #7fb800;
$blue: #0d2c54;
$lightblue: #00a6ed;
$yellow: #ffb400;
$purple: #462da0;
$red: #d11149;
$white: #fbfbfb;
$pink: lighten($red, 15%);

$family-primary: "omnes-cond", sans-serif;
$family-secondary: "omnes-cond", sans-serif;
$primary: $blue;
$link: $green;
$info: $lightblue;
$success: $green;
$warning: $yellow;
$danger: $red;
$light: $white;
$dark: #161616;
$grey-dark: $blue;
$grey-light: $white;
$body-background-color: $white;
$column-gap: 2rem;
$card-transition: all 150ms ease;

@import "~bulma/sass/base/_all";
@import "~bulma/sass/elements/box.sass";
@import "~bulma/sass/elements/button.sass";
@import "~bulma/sass/elements/container.sass";
@import "~bulma/sass/elements/content.sass";
@import "~bulma/sass/elements/form.sass";
@import "~bulma/sass/elements/icon.sass";
@import "~bulma/sass/elements/image.sass";
@import "~bulma/sass/elements/notification.sass";
@import "~bulma/sass/elements/progress.sass";
@import "~bulma/sass/elements/table.sass";
@import "~bulma/sass/elements/title.sass";
@import "~bulma/sass/elements/other.sass";
@import "~bulma/sass/components/card.sass";
@import "~bulma/sass/components/dropdown.sass";
@import "~bulma/sass/components/level.sass";
@import "~bulma/sass/components/media.sass";
@import "~bulma/sass/components/menu.sass";
@import "~bulma/sass/components/message.sass";
@import "~bulma/sass/components/modal.sass";
@import "~bulma/sass/components/navbar.sass";
@import "~bulma/sass/components/pagination.sass";
@import "~bulma/sass/components/panel.sass";
@import "~bulma/sass/components/tabs.sass";
@import "~bulma/sass/grid/_all";
@import "~bulma/sass/layout/_all";
@import "~buefy/src/scss/buefy";

.page-enter-active,
.page-leave-active {
  transition: opacity 0.175s, transform 0.35s;
}

.page-enter,
.page-leave-to {
  opacity: 0;
  transform: translateX(-30%);
}

html,
body {
  font-family: $family-secondary;
  letter-spacing: 0.025rem;
}

body {
  padding-top: 100px;

  @include until($tablet) {
    padding-top: 75px;
  }
}

::selection {
  background: $green;
  color: $blue;
}

.background {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 40vh;
  background: linear-gradient(to right, #649173, #dbd5a4);
}

.container {
  max-width: 1024px;
  width: 100%;

  @include until($desktop) {
    padding: 0 ($gap / 1.5);
  }
}

.heading {
  color: $blue;
  font-size: $size-1;
  margin-top: 40px;

  @include until($tablet) {
    font-size: $size-3;
  }
}

.subheading {
  color: $blue;
  font-size: $size-2;
  margin-bottom: $gap;

  @include until($tablet) {
    font-size: $size-4;
  }
}

.list-item {
  font-size: $size-5;
  margin-bottom: $gap / 4;
  margin-top: $gap / 4;

  &__link {
    color: $green;
    text-decoration: underline;

    &:hover {
      color: $orange;
      text-decoration: none;
    }
  }
}

.section-heading {
  color: $blue;
  font-size: $size-3;
  font-weight: bold;
  line-height: 1;
  margin-bottom: $gap / 2;
  margin-top: $gap;

  @include until($tablet) {
    font-size: $size-4;
  }
}

.tag {
  align-items: center;
  background-color: #c4c4c4;
  border-radius: 4px;
  box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0);
  display: inline-flex;
  font-size: 0.75rem;
  height: 2em;
  justify-content: center;
  line-height: 1.5;
  padding-left: 0.75em;
  padding-right: 0.75em;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0);
  transition: $card-transition;
  white-space: nowrap;

  &--wordpress {
    background-color: $purple;
    color: $light;
  }

  &--php {
    background-color: $red;
    color: $light;
  }

  &--javascript {
    background-color: $orange;
    color: $light;
  }

  &--ecommerce,
  &--vue {
    background-color: $green;
    color: $light;
  }
}

@include until($tablet) {
  .columns:last-child {
    margin-bottom: -1rem;
  }

  .columns {
    margin-left: -1rem;
    margin-right: -1rem;
    margin-top: -1rem;
  }

  .column {
    padding: 1rem;
  }
}

.line-break {
  @include until($tablet) {
    display: none !important;
  }
}

.blog {
  margin-bottom: $gap;
}

.blog-post {
  margin-bottom: $gap / 2;

  &__title {
    color: $pink;
    font-size: $size-3;
    font-style: italic;

    a {
      color: $pink;
    }

    &:hover {
      text-decoration: underline;
    }

    @include until($tablet) {
      font-size: $size-4;
    }
  }

  &__date {
    color: darken($white, 30%);
    font-size: $size-6;
    font-style: italic;
  }

  &__content {
    color: $blue;
    font-size: $size-5;
    margin: ($gap / 4) auto;
  }
}

.tooltip {
  margin-right: $gap / 4;
}

.projects {
  margin-bottom: $gap;

  .column {
    @include until($tablet) {
      padding-bottom: $gap / 2.5;
      padding-top: $gap / 2.5;
    }
  }
}

.card-container {
  position: relative;
}

.card {
  background-color: $green;
  border: 0;
  display: flex;
  height: 350px;
  justify-content: center;
  margin-bottom: 0;
  outline: 0;
  padding-top: $gap;
  transform-style: preserve-3d;

  &::after {
    box-shadow: 0 20px 70px -10px rgba(51, 51, 51, 0.3),
      0 50px 100px 0 rgba(51, 51, 51, 0.15);
    content: "";
    height: 90%;
    left: 5%;
    position: absolute;
    top: 5%;
    transform: translateZ(-50px);
    transition: 0.3s;
    width: 90%;
    z-index: -1;
  }

  &--teeup {
    background: linear-gradient(to right, #649173, #dbd5a4);
  }

  &--wishlisted {
    background: linear-gradient(135deg, $purple 0%, $red 100%);
  }

  &--strive {
    background: linear-gradient(135deg, #bad405 0%, #8faa0e 40%);
  }

  &--stadium {
    background: linear-gradient(135deg, $grey 0%, $lightblue 100%);
  }

  &--overwatch {
    background: linear-gradient(135deg, $blue 0%, $lightblue 100%);
  }

  &--records {
    background: linear-gradient(135deg, $orange 0%, $yellow 100%);
  }

  &__image {
    filter: drop-shadow(0 0 25px rgba(51, 51, 51, 0.4));
    max-height: 90px;
    max-width: 90px;
    pointer-events: none;
    position: relative;
    transform: translateZ(50px);
    transition: transform 550ms ease-in-out;
    z-index: 2;
  }
}

.card-description {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: $gap / 2;
  pointer-events: none;
  text-shadow: 1px 1px 20px rgba(51, 51, 51, 0.4);

  @include until($tablet) {
    padding: $gap / 2.5;
  }

  &__title {
    font-size: $size-3;
    color: $white;
    transform: translate3d(0, 0, 0);
    opacity: 1;

    @include until($tablet) {
      font-size: $size-4;
    }
  }

  &__details {
    font-size: $size-5;
    color: $white;
    transform: translate3d(0, 0, 0);
  }
}

.js-tilt-glare {
  z-index: 1;
}

.contact {
  margin-bottom: $gap;

  .field {
    &--last {
      margin-top: $gap / 2;
    }

    .select {
      width: 100%;

      select {
        width: 100%;
      }
    }
  }

  select,
  input,
  textarea {
    &:hover {
      border-color: $green;
    }
  }

  figcaption {
    position: absolute;
  }

  .label {
    color: $green;

    @include until($tablet) {
      font-size: $size-5;
    }
  }

  .button {
    width: 100%;
    background: linear-gradient(135deg, $green 0%, $lightblue 100%);
    color: $white;

    &[disabled] {
      & + .helper {
        color: $red;
        display: block;
        opacity: 0;
        transition: opacity 150ms ease;
      }

      &:hover {
        & + .helper {
          opacity: 1;
        }
      }
    }
  }

  .helper {
    display: none;
  }

  @include until($tablet) {
    .control,
    .icon,
    input,
    select,
    label {
      .is-large {
        font-size: $size-5 !important;
      }
    }

    input {
      padding-left: calc(0.625em - 1px) !important;
    }

    .icon {
      display: none;
    }
  }
}

.card-container {
  padding-top: 48%;
  position: relative;
}

.card {
  background-color: $green;
  border: 0;
  display: flex;
  height: 390px;
  justify-content: center;
  margin-bottom: 0;
  outline: 0;
  padding-top: $gap;
  transform-style: preserve-3d;
  background: linear-gradient(160deg, $blue 0%, $purple 100%);
  box-shadow: 0 20px 70px -10px rgba(51, 51, 51, 0.3),
    0 50px 100px 0 rgba(51, 51, 51, 0.15);

  &__image {
    box-shadow: 0 0 25px rgba(51, 51, 51, 0.4);
    pointer-events: none;
    position: relative;
    z-index: 2;
    height: 100%;
    width: 100%;
  }
}

.card-description {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: $gap / 2;
  text-shadow: 1px 1px 20px rgba(51, 51, 51, 0.4);

  @include until($tablet) {
    padding: $gap / 2.5;
  }

  &__title {
    font-size: $size-3;
    color: $white;
    transform: translate3d(-80px, 0, 0);
    opacity: 0;
    transition: opacity 100ms ease-out, transform 450ms ease;
    transform: translate3d(0, 0, 0);
    opacity: 1;

    @include until($tablet) {
      font-size: $size-4;
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
  }

  &__button {
    color: $pink;
    display: flex;
    margin-top: 10px;
    transition: color 300ms ease;

    .icon {
      padding-right: 10px;
    }

    &:hover {
      color: $white;
    }
  }

  &__details {
    font-size: $size-5;
    transform: translate3d(-50px, 0, 0);
    color: $white;
    opacity: 0;
    transition: opacity 150ms ease-out, transform 300ms ease;
    transform: translate3d(0, 0, 0);
    opacity: 1;

    @include until($tablet) {
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
  }
}

.js-tilt-glare {
  z-index: 1;
}

.controls {
  bottom: 0;
  display: none;
  padding-bottom: 2rem;
  padding-right: 2rem;
  position: fixed;
  right: 0;
  width: 5rem;
  z-index: 99;

  &__button {
    align-items: center;
    background: darken($white, 10%);
    border-radius: 1.5rem;
    color: $purple;
    display: flex;
    font-size: $size-6;
    height: 3rem;
    justify-content: center;
    margin-top: 1rem;
    transform: all 150ms ease-in-out;
    transform: translate3d(6rem, 0, 0);
    transition: transform 300ms ease;
    width: 3rem;

    &:hover {
      background: darken($white, 15%);
      color: $pink;
    }
  }

  .dropdown {
    &.is-active {
      color: $pink;

      .dropdown__link {
        background: $pink;
        color: $white;
      }
    }
  }

  &.headroom {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;

    .dropdown {
      transform: translate3d(0, 0, 0);
      transition: all 300ms ease;
    }

    &--not-top {
      .controls__button {
        transform: translate3d(0, 0, 0);
      }
    }

    &--top {
      .dropdown {
        transform: translate3d(400px, 0, 0);
      }
    }
  }
}

.modal-card {
  width: 260px;
}

.navigation {
  align-items: center;
  display: none;
  height: 100px;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  transform: translate3d(0, -100px, 0);
  z-index: 2;

  &__link {
    color: $blue;
    font-size: $size-4;
    padding-right: $gap / 1.5;
    transition: color 150ms ease-in-out;

    &:hover,
    &:active {
      color: $orange !important;
    }

    &.router-link-active {
      color: $green !important;
    }
  }
}

.header {
  background: $blue;
  display: none;
  height: 50px;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 99;

  &__container {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  &__link {
    color: $white;
    font-size: $size-4;
    transform: color 150ms ease-in-out;

    &:hover {
      color: $lightblue;
    }
  }
}

.headroom {
  display: flex;
  transition: all 350ms ease;

  .header {
    display: flex;
    transform: translate3d(0, -50px, 0);
    transition: transform 300ms ease;
  }

  .navigation {
    display: flex;
    transform: translate3d(0, 0, 0);
    transition: transform 300ms ease;
  }

  &--not-top {
    .navigation {
      transform: translate3d(0, -100px, 0);
    }

    .header {
      transform: translate3d(0, 0, 0);
    }
  }
}