//@import "~bulma/sass/utilities/initial-variables";
//@import "~bulma/sass/utilities/_all";
$orange: #f6511d;
$green: #7fb800;
$blue: #0d2c54;
$lightblue: #00a6ed;
$yellow: #ffb400;
$purple: #462da0;
$red: #d11149;
$white: #fbfbfb;
$pink: lighten($red, 15%);

$family-primary: "omnes-cond", sans-serif;
$family-secondary: "omnes-cond", sans-serif;
$primary: $blue;
$link: $green;
$info: $lightblue;
$success: $green;
$warning: $yellow;
$danger: $red;
$light: $white;
$dark: #161616;
$grey-dark: $blue;
$grey-light: $white;
$body-background-color: $white;
$column-gap: 2rem;
$card-transition: all 150ms ease;


