html.is-clipped {
  overflow-y: scroll !important;
}

html {
  min-height: 100vh;
}

::selection {
  @apply text-theme-bg-d bg-theme-text-l;
}

.page-enter-active,
.page-leave-active {
  transition: all 0.35s ease;
}

.page-enter,
.page-leave-active {
  backface-visibility: hidden;
  opacity: 0;
  transform: translateZ(0);
}

.content {
  @apply text-lg;

  @screen xl {
    @apply text-xl;
  }

  a {
    @apply text-theme-link underline;

    &:hover {
      @apply text-theme-link-hover no-underline;
    }

    &:active {
      @apply text-theme-link-press no-underline;
    }
  }
}
